.product-row{
    height: 6em;
    border: 1px solid black;
    align-items: center;
    border-radius: 25px;
}
.product-row img{
    height: 6em;
}
.checkout-container{
    display: flex;
    border: 1px solid black;
    background-color: rgba(161, 156, 156, 0.1);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    text-wrap: nowrap;
    /* height: 100vh; */
}
.checkout-section{
    /* border: 1px solid; */
}